
body{
    background-color: #FCFFA6;
}

header{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Bonheur Royale",cursive;
    font-size: 40px;
    color: #CAB8FF;
    text-shadow: 0 4px 8px #fd039a, 0 6px 20px #fd039a;

}
img{
    width: 350px;
    height: 350px;
    margin: 0%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 #fd039a, 0 6px 20px 0 #fd039a;
    margin: 20px;
}

.mision{
    padding: 0;
    height: 100%;
    background-color: #C1FFD7;
}

.vision{
    background-color: #B5DEFF;
}