/*#2bfaa6
#1e212d
#14161f
*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../images/fondo.png");
}

header{
    display:flex;
    justify-content: center;
}


.present{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: "Bonheur Royale",cursive;
    font-size: 40px;
    color: #B5DEFF;
    background-color:#14161f;
    text-shadow: 0 4px 8px #fd039a, 0 6px 20px #fd039a;
}


#logo{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 #fd039a, 0 6px 20px 0 #fd039a;
    margin: 20px;
}
